.mainPage {
    width: 50%;
    height: 500px;
}

.mainPage h1 {
    margin: 50px;
    position: absolute;
    top: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

.difficulties {
    background-color: #474655;
    padding: 10px;
    margin: 60px 0 20px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.reset {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
