.mainPage {
    width: 90%;
    height: 90vh;
}

.mainPage h1 {
    font-size: 35px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.curr {
    font-size: 30px;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    /* background-color: #225586; */
    color: #ffffff;
    padding: 0 20px;
    margin-bottom: 20px;
}

.topBar i {
    font-size: 40px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.cards {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    height: 100%;
}

.card {
    perspective: 1000px;
    width: 100%;
    height: auto;
    animation: rise 1s ease-out forwards;
}

@keyframes rise {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card img,
.card-front,
.card-back {
    border: 3px solid var(--score-color);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    background-color: #ffffff;
    transform: rotatey(180deg);
}

.card-back {
    background-color: #333333;
    transform: rotatey(0deg);
}

/* to flip a card add class flipped to it and remove hover */
.card .card-inner.flipped,
.card .card-inner.matched {
    transform: rotateY(180deg);
}

.restart {
    background-color: var(--primary-color);
}

.restart:hover {
    background-color: var(--primary-color);
}

.restart:hover i {
    color: var(--score-color);
}
